contourpy==1.1.1
cycler==0.12.1
fonttools==4.57.0
kiwisolver==1.4.7
matplotlib==3.7.5
numpy==1.24.4
opencv-python==4.12.0.88
packaging==25.0
pillow==10.4.0
PyOpenGL==3.1.10
PyOpenGL-accelerate==3.1.10
pyparsing==3.1.4
PyQt5==5.15.11
PyQt5-Qt5==5.15.17
PyQt5_sip==12.15.0
python-dateutil==2.9.0.post0
setuptools==80.9.0
six==1.17.0
wheel==0.45.1
